ul {
  padding: 0;
  text-align: center;
}

li {
  display: block;
  border-bottom: 1px solid lightgrey;
  :last-child {
    border-bottom: none;
  }
  text-align: center;
}

.current {
  color: green;
}
